@tailwind base; 
@tailwind components;
@tailwind utilities;

/* Preflight is applied first: 
https://unpkg.com/tailwindcss@3.3.5/src/css/preflight.css
*/

@layer base {

  :root, .light, .light-theme {
    
    --fg-0: hsl(0 0% 0%);
    --fg-body: hsl(0 0% 10%);
    --fg-1: hsl(0 0% 20%);
    --fg-2: hsl(0 0% 35%);
    --fg-3: hsl(0 0% 50%);
    --fg-4: hsl(0 0% 70%);
    --fg-5: hsl(0 0% 90%);

    --bg-0: hsl(0 0% 100%);
    --bg-1: hsl(0 0% 90%);
    --bg-2: hsl(0 0% 75%);
    --bg-3: hsl(0 0% 55%);

    --bg-inverted: var(--fg-0);
    --bg-inverted-hover:  hsla(0, 0%, 0%, 0.85);

    --fg-inverted: var(--bg-0);

    --secondary-0: hsl(266, 79%, 80%);
    --secondary-1: hsl(266, 79%, 70%);
    --secondary-2: hsl(266, 79%, 60%);
    --secondary-3: hsl(266, 79%, 50%);

    --primary: var(--bg-inverted);
    --primary-hover: var(--bg-inverted-hover);
    --primary-fg: var(--fg-inverted);

    --secondary: var(--secondary-0);
    --secondary-hover: var(--secondary-2);
    --secondary-fg: var(--fg-0);

    --nav: var(--fg-4);
    --nav-current: var(--fg-0);
    --nav-hover: var(--fg-0);

    --destructive: hsl(0 62.8% 45%);
    --destructive-hover: hsl(0 62.8% 25%);
    --destructive-fg: hsl(0 0% 100%);

    --input: var(--bg-1);
    --ring: var(--fg-1);

    --radius: 0.5rem;
  }
 
  .dark, .dark-theme {

    --fg-0: hsl(0 0% 100%);
    --fg-body: hsl(0, 0%, 97%);
    --fg-1: hsl(0 0% 85%);
    --fg-2: hsl(0 0% 70%);
    --fg-3: hsl(0 0% 55%);
    --fg-4: hsl(0 0% 40%);
    --fg-5: hsl(0 0% 25%);

    --bg-inverted: var(--fg-0);
    --bg-inverted-hover:  hsla(0, 0%, 100%, 0.85);

    --bg-3: hsl(0 0% 25%);
    --bg-2: hsl(0 0% 18%);
    --bg-1: hsl(0 0% 12%);
    --bg-0: hsl(0 0% 0%);

    --fg-inverted: var(--bg-0);

    --secondary-0: hsl(266, 79%, 40%);
    --secondary-1: hsl(266, 79%, 50%);
    --secondary-2: hsl(266, 79%, 60%);
    --secondary-3: hsl(266, 79%, 70%);
  }
}

@layer base {
  * {
    @apply border-muted-3;
    box-sizing: inherit;
  }

  /*
    using this approach: 
    https://stackoverflow.com/a/76066443/11645689
    see src/app/(home)/scroll-snap
  */

  html {
    scroll-snap-type: y mandatory;
    height: 100vh;

    overflow-y: scroll;
    box-sizing: border-box;

    scrollbar-width: none;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
      /* Match text on cards from old site */ 
    font-size: 16px; 
    letter-spacing: 0.15px;
  }
}
